@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor

<h2>Add a speciality</h2>

<h4>Add a speciality to this doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.Label("Select speciality")
  @Html.DropDownList("SpecialityId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to doctor", "Index")</p>